body {
  font-family: "Montserrat";
  text-align: center;
}

hr {
  margin: 0px;
}

a {
  color: #8e52fb;
}

a:hover {
  color: #7544cf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
  font-size: small;
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 50px;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #8e52fb;
  color: #fff;
}

.white-section {
  background-color: #EEEEEE;
}

/* Navigation Bar */
.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

}

#title {
  background-color: #8e52fb;
  color: #fff;
  text-align: left;
}

.logo-image {
  background: rgba(255, 255, 255, .5);
  margin-top: 20px;
  border-radius: 20%;
  width: 70%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.zhalgas p {
  color: #fff;
  font-size: small;
}


/* Title Image */
.title-image {
  width: 90%;
  padding-top: 25px;
  border-radius: 20%;
}

/* Features Section */
#about {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #8e52fb;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #7544cf;
}

.progress-bar {
  padding: 5px;
}

/* Testimonial Section */
#team {
  background-color: #f68714;
}

.team-text {
  font-size: 3rem;
  line-height: 1.5;
}

.team-image {
  margin: 20px;
  width: 90%;
  max-height: 600px;
  object-fit: contain;
}

#press {
  background-color: #f68714;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px 100px 0px 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

.contact {
  margin: 12px;
}

#cta {
  background-color: #EEEEEE;
}

.form-control {
  background-color: #f3f1f1;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f68714;
  --bs-btn-border-color: #f68714;
  --bs-btn-hover-color: #cc7110;
  --bs-btn-hover-bg: #cc7110;
  --bs-btn-hover-border-color: #cc7110;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cc7110;
  --bs-btn-active-border-color: #cc7110;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f68714;
  --bs-btn-disabled-border-color: #f68714;
}

.additional-links {
  padding-bottom: 50px;
}

.modal-content {
  color: #000;
}

.card {
  margin: 10px;
  text-align: center;
  
}

.feedback {
  margin: 50px;
}